In [1]:
import nltk

In [2]:
from nltk.corpus import brown

In [3]:
brown.tagged_sents()[:2]

[[('The', 'AT'),
  ('Fulton', 'NP-TL'),
  ('County', 'NN-TL'),
  ('Grand', 'JJ-TL'),
  ('Jury', 'NN-TL'),
  ('said', 'VBD'),
  ('Friday', 'NR'),
  ('an', 'AT'),
  ('investigation', 'NN'),
  ('of', 'IN'),
  ("Atlanta's", 'NP$'),
  ('recent', 'JJ'),
  ('primary', 'NN'),
  ('election', 'NN'),
  ('produced', 'VBD'),
  ('``', '``'),
  ('no', 'AT'),
  ('evidence', 'NN'),
  ("''", "''"),
  ('that', 'CS'),
  ('any', 'DTI'),
  ('irregularities', 'NNS'),
  ('took', 'VBD'),
  ('place', 'NN'),
  ('.', '.')],
 [('The', 'AT'),
  ('jury', 'NN'),
  ('further', 'RBR'),
  ('said', 'VBD'),
  ('in', 'IN'),
  ('term-end', 'NN'),
  ('presentments', 'NNS'),
  ('that', 'CS'),
  ('the', 'AT'),
  ('City', 'NN-TL'),
  ('Executive', 'JJ-TL'),
  ('Committee', 'NN-TL'),
  (',', ','),
  ('which', 'WDT'),
  ('had', 'HVD'),
  ('over-all', 'JJ'),
  ('charge', 'NN'),
  ('of', 'IN'),
  ('the', 'AT'),
  ('election', 'NN'),
  (',', ','),
  ('``', '``'),
  ('deserves', 'VBZ'),
  ('the', 'AT'),
  ('praise', 'NN'),
  ('and', 'CC'),
  ('thanks', 'NNS'),
  ('of', 'IN'),
  ('the', 'AT'),
  ('City', 'NN-TL'),
  ('of', 'IN-TL'),
  ('Atlanta', 'NP-TL'),
  ("''", "''"),
  ('for', 'IN'),
  ('the', 'AT'),
  ('manner', 'NN'),
  ('in', 'IN'),
  ('which', 'WDT'),
  ('the', 'AT'),
  ('election', 'NN'),
  ('was', 'BEDZ'),
  ('conducted', 'VBN'),
  ('.', '.')]]

In [4]:
brown.tagged_words()[:50]

[('The', 'AT'),
 ('Fulton', 'NP-TL'),
 ('County', 'NN-TL'),
 ('Grand', 'JJ-TL'),
 ('Jury', 'NN-TL'),
 ('said', 'VBD'),
 ('Friday', 'NR'),
 ('an', 'AT'),
 ('investigation', 'NN'),
 ('of', 'IN'),
 ("Atlanta's", 'NP$'),
 ('recent', 'JJ'),
 ('primary', 'NN'),
 ('election', 'NN'),
 ('produced', 'VBD'),
 ('``', '``'),
 ('no', 'AT'),
 ('evidence', 'NN'),
 ("''", "''"),
 ('that', 'CS'),
 ('any', 'DTI'),
 ('irregularities', 'NNS'),
 ('took', 'VBD'),
 ('place', 'NN'),
 ('.', '.'),
 ('The', 'AT'),
 ('jury', 'NN'),
 ('further', 'RBR'),
 ('said', 'VBD'),
 ('in', 'IN'),
 ('term-end', 'NN'),
 ('presentments', 'NNS'),
 ('that', 'CS'),
 ('the', 'AT'),
 ('City', 'NN-TL'),
 ('Executive', 'JJ-TL'),
 ('Committee', 'NN-TL'),
 (',', ','),
 ('which', 'WDT'),
 ('had', 'HVD'),
 ('over-all', 'JJ'),
 ('charge', 'NN'),
 ('of', 'IN'),
 ('the', 'AT'),
 ('election', 'NN'),
 (',', ','),
 ('``', '``'),
 ('deserves', 'VBZ'),
 ('the', 'AT'),
 ('praise', 'NN')]

In [5]:
wordtag = brown.tagged_words()[0]

In [6]:
wordtag

('The', 'AT')

In [7]:
type(wordtag)

tuple

In [8]:
wordtag[0]

'The'

In [9]:
wordtag[1]

'AT'

In [10]:
brown.categories()

['adventure',
 'belles_lettres',
 'editorial',
 'fiction',
 'government',
 'hobbies',
 'humor',
 'learned',
 'lore',
 'mystery',
 'news',
 'religion',
 'reviews',
 'romance',
 'science_fiction']

In [13]:
brown_humor_tagged=brown.tagged_words(categories = 'humor',tagset = 'universal')

In [14]:
brown_humor_taggnltk.corpus.nps_chat.tagged_words()[:50]ed[:50]

[('It', 'PRON'),
 ('was', 'VERB'),
 ('among', 'ADP'),
 ('these', 'DET'),
 ('that', 'ADP'),
 ('Hinkle', 'NOUN'),
 ('identified', 'VERB'),
 ('a', 'DET'),
 ('photograph', 'NOUN'),
 ('of', 'ADP'),
 ('Barco', 'NOUN'),
 ('!', '.'),
 ('!', '.'),
 ('For', 'ADP'),
 ('it', 'PRON'),
 ('seems', 'VERB'),
 ('that', 'ADP'),
 ('Barco', 'NOUN'),
 (',', '.'),
 ('fancying', 'VERB'),
 ('himself', 'PRON'),
 ('a', 'DET'),
 ("ladies'", 'NOUN'),
 ('man', 'NOUN'),
 ('(', '.'),
 ('and', 'CONJ'),
 ('why', 'ADV'),
 ('not', 'ADV'),
 (',', '.'),
 ('after', 'ADP'),
 ('seven', 'NUM'),
 ('marriages', 'NOUN'),
 ('?', '.'),
 ('?', '.'),
 (')', '.'),
 (',', '.'),
 ('had', 'VERB'),
 ('listed', 'VERB'),
 ('himself', 'PRON'),
 ('for', 'ADP'),
 ('Mormon', 'NOUN'),
 ('Beard', 'NOUN'),
 ('roles', 'NOUN'),
 ('at', 'ADP'),
 ('the', 'DET'),
 ('instigation', 'NOUN'),
 ('of', 'ADP'),
 ('his', 'DET'),
 ('fourth', 'ADJ'),
 ('murder', 'NOUN')]

In [15]:
nltk.corpus.nps_chat.tagged_words()[:50]

[('now', 'RB'),
 ('im', 'PRP'),
 ('left', 'VBD'),
 ('with', 'IN'),
 ('this', 'DT'),
 ('gay', 'JJ'),
 ('name', 'NN'),
 (':P', 'UH'),
 ('PART', 'VB'),
 ('hey', 'UH'),
 ('everyone', 'NN'),
 ('ah', 'UH'),
 ('well', 'UH'),
 ('NICK', 'NN'),
 (':', ':'),
 ('U7', 'NNP'),
 ('U7', 'NNP'),
 ('is', 'VBZ'),
 ('a', 'DT'),
 ('gay', 'JJ'),
 ('name', 'NN'),
 ('.', '.'),
 ('.', 'SYM'),
 ('ACTION', 'NN'),
 ('gives', 'VBZ'),
 ('U121', 'NNP'),
 ('a', 'DT'),
 ('golf', 'NN'),
 ('clap', 'NN'),
 ('.', '.'),
 (':)', 'UH'),
 ('JOIN', 'VB'),
 ('hi', 'UH'),
 ('U59', 'NNP'),
 ('26', 'CD'),
 ('/', 'CC'),
 ('m', 'NN'),
 ('/', 'CC'),
 ('ky', 'NNP'),
 ('women', 'NNS'),
 ('that', 'WDT'),
 ('are', 'VBP'),
 ('nice', 'JJ'),
 ('please', 'VB'),
 ('pm', 'VB'),
 ('me', 'PRP'),
 ('JOIN', 'VB'),
 ('PART', 'VB'),
 ('there', 'RB'),
 ('ya', 'PRP')]

In [16]:
from nltk.corpus import treebank

In [17]:
treebank_tokens = treebank.words()

In [18]:
treebank_tokens[:50]

['Pierre',
 'Vinken',
 ',',
 '61',
 'years',
 'old',
 ',',
 'will',
 'join',
 'the',
 'board',
 'as',
 'a',
 'nonexecutive',
 'director',
 'Nov.',
 '29',
 '.',
 'Mr.',
 'Vinken',
 'is',
 'chairman',
 'of',
 'Elsevier',
 'N.V.',
 ',',
 'the',
 'Dutch',
 'publishing',
 'group',
 '.',
 'Rudolph',
 'Agnew',
 ',',
 '55',
 'years',
 'old',
 'and',
 'former',
 'chairman',
 'of',
 'Consolidated',
 'Gold',
 'Fields',
 'PLC',
 ',',
 'was',
 'named',
 '*-1',
 'a']

*-1 - structure markers

In [19]:
treebank_tagged_words = treebank.tagged_words()[:50]

In [20]:
treebank_tagged_words

[('Pierre', 'NNP'),
 ('Vinken', 'NNP'),
 (',', ','),
 ('61', 'CD'),
 ('years', 'NNS'),
 ('old', 'JJ'),
 (',', ','),
 ('will', 'MD'),
 ('join', 'VB'),
 ('the', 'DT'),
 ('board', 'NN'),
 ('as', 'IN'),
 ('a', 'DT'),
 ('nonexecutive', 'JJ'),
 ('director', 'NN'),
 ('Nov.', 'NNP'),
 ('29', 'CD'),
 ('.', '.'),
 ('Mr.', 'NNP'),
 ('Vinken', 'NNP'),
 ('is', 'VBZ'),
 ('chairman', 'NN'),
 ('of', 'IN'),
 ('Elsevier', 'NNP'),
 ('N.V.', 'NNP'),
 (',', ','),
 ('the', 'DT'),
 ('Dutch', 'NNP'),
 ('publishing', 'VBG'),
 ('group', 'NN'),
 ('.', '.'),
 ('Rudolph', 'NNP'),
 ('Agnew', 'NNP'),
 (',', ','),
 ('55', 'CD'),
 ('years', 'NNS'),
 ('old', 'JJ'),
 ('and', 'CC'),
 ('former', 'JJ'),
 ('chairman', 'NN'),
 ('of', 'IN'),
 ('Consolidated', 'NNP'),
 ('Gold', 'NNP'),
 ('Fields', 'NNP'),
 ('PLC', 'NNP'),
 (',', ','),
 ('was', 'VBD'),
 ('named', 'VBN'),
 ('*-1', '-NONE-'),
 ('a', 'DT')]

In [21]:
treebank_tagged = treebank.tagged_sents()[:2]

In [22]:
treebank_tagged

[[('Pierre', 'NNP'),
  ('Vinken', 'NNP'),
  (',', ','),
  ('61', 'CD'),
  ('years', 'NNS'),
  ('old', 'JJ'),
  (',', ','),
  ('will', 'MD'),
  ('join', 'VB'),
  ('the', 'DT'),
  ('board', 'NN'),
  ('as', 'IN'),
  ('a', 'DT'),
  ('nonexecutive', 'JJ'),
  ('director', 'NN'),
  ('Nov.', 'NNP'),
  ('29', 'CD'),
  ('.', '.')],
 [('Mr.', 'NNP'),
  ('Vinken', 'NNP'),
  ('is', 'VBZ'),
  ('chairman', 'NN'),
  ('of', 'IN'),
  ('Elsevier', 'NNP'),
  ('N.V.', 'NNP'),
  (',', ','),
  ('the', 'DT'),
  ('Dutch', 'NNP'),
  ('publishing', 'VBG'),
  ('group', 'NN'),
  ('.', '.')]]

list of list - list is list of tuples

In [24]:
tag_fd = nltk.FreqDist(tag for (word, tag) in treebank.tagged_words())

In [27]:
tag_fd.keys()

dict_keys(['NNP', ',', 'CD', 'NNS', 'JJ', 'MD', 'VB', 'DT', 'NN', 'IN', '.', 'VBZ', 'VBG', 'CC', 'VBD', 'VBN', '-NONE-', 'RB', 'TO', 'PRP', 'RBR', 'WDT', 'VBP', 'RP', 'PRP$', 'JJS', 'POS', '``', 'EX', "''", 'WP', ':', 'JJR', 'WRB', '$', 'NNPS', 'WP$', '-LRB-', '-RRB-', 'PDT', 'RBS', 'FW', 'UH', 'SYM', 'LS', '#'])

In [28]:
for tag,freq in tag_fd.most_common():
    print (tag, freq)

NN 13166
IN 9857
NNP 9410
DT 8165
-NONE- 6592
NNS 6047
JJ 5834
, 4886
. 3874
CD 3546
VBD 3043
RB 2822
VB 2554
CC 2265
TO 2179
VBN 2134
VBZ 2125
PRP 1716
VBG 1460
VBP 1321
MD 927
POS 824
PRP$ 766
$ 724
`` 712
'' 694
: 563
WDT 445
JJR 381
NNPS 244
WP 241
RP 216
JJS 182
WRB 178
RBR 136
-RRB- 126
-LRB- 120
EX 88
RBS 35
PDT 27
# 16
WP$ 14
LS 13
FW 4
UH 3
SYM 1

In [29]:
treebank_tagged = treebank.tagged_sents()

In [30]:
size = int(len(treebank_tagged)*0.9)

In [31]:
size

3522

In [32]:
treebank_train = treebank_tagged[:size]

In [33]:
treebank_test = treebank_tagged[size:]

In [34]:
t0 = nltk.DefaultTagger('NN')

In [35]:
t0.tag(treebank_tokens[:50])

[('Pierre', 'NN'),
 ('Vinken', 'NN'),
 (',', 'NN'),
 ('61', 'NN'),
 ('years', 'NN'),
 ('old', 'NN'),
 (',', 'NN'),
 ('will', 'NN'),
 ('join', 'NN'),
 ('the', 'NN'),
 ('board', 'NN'),
 ('as', 'NN'),
 ('a', 'NN'),
 ('nonexecutive', 'NN'),
 ('director', 'NN'),
 ('Nov.', 'NN'),
 ('29', 'NN'),
 ('.', 'NN'),
 ('Mr.', 'NN'),
 ('Vinken', 'NN'),
 ('is', 'NN'),
 ('chairman', 'NN'),
 ('of', 'NN'),
 ('Elsevier', 'NN'),
 ('N.V.', 'NN'),
 (',', 'NN'),
 ('the', 'NN'),
 ('Dutch', 'NN'),
 ('publishing', 'NN'),
 ('group', 'NN'),
 ('.', 'NN'),
 ('Rudolph', 'NN'),
 ('Agnew', 'NN'),
 (',', 'NN'),
 ('55', 'NN'),
 ('years', 'NN'),
 ('old', 'NN'),
 ('and', 'NN'),
 ('former', 'NN'),
 ('chairman', 'NN'),
 ('of', 'NN'),
 ('Consolidated', 'NN'),
 ('Gold', 'NN'),
 ('Fields', 'NN'),
 ('PLC', 'NN'),
 (',', 'NN'),
 ('was', 'NN'),
 ('named', 'NN'),
 ('*-1', 'NN'),
 ('a', 'NN')]

In [36]:
t0.evaluate(treebank_test)

0.14697201017811704

In [39]:
t1 = nltk.UnigramTagger(treebank_train)

In [40]:
t1.evaluate(treebank_test)

0.8627989821882952

In [41]:
t1 = nltk.UnigramTagger(treebank_tagged)

In [42]:
t1.evaluate(treebank_test)

0.96

In [43]:
t1 = nltk.UnigramTagger(treebank_train, backoff = t0)

In [44]:
t2 = nltk.BigramTagger(treebank_train, backoff = t1)

In [46]:
t2.evaluate(treebank_test)

0.8905852417302799

In [47]:
text = "Three Calgarians have found a rather unusual way of leaving snow and ice behind. They set off this week on foot and by camels on a grueling trek across the burning Arabian desert."

In [48]:
textsplit = nltk.sent_tokenize(text)

In [52]:
textsplit

['Three Calgarians have found a rather unusual way of leaving snow and ice behind.',
 'They set off this week on foot and by camels on a grueling trek across the burning Arabian desert.']

In [53]:
tokentext = [nltk.word_tokenize(sent) for sent in textsplit]

In [54]:
tokentext

[['Three',
  'Calgarians',
  'have',
  'found',
  'a',
  'rather',
  'unusual',
  'way',
  'of',
  'leaving',
  'snow',
  'and',
  'ice',
  'behind',
  '.'],
 ['They',
  'set',
  'off',
  'this',
  'week',
  'on',
  'foot',
  'and',
  'by',
  'camels',
  'on',
  'a',
  'grueling',
  'trek',
  'across',
  'the',
  'burning',
  'Arabian',
  'desert',
  '.']]

In [55]:
taggedtext = [t2.tag(tokens) for tokens in tokentext]

In [56]:
taggedtext

[[('Three', 'CD'),
  ('Calgarians', 'NN'),
  ('have', 'VBP'),
  ('found', 'VBN'),
  ('a', 'DT'),
  ('rather', 'RB'),
  ('unusual', 'JJ'),
  ('way', 'NN'),
  ('of', 'IN'),
  ('leaving', 'VBG'),
  ('snow', 'NN'),
  ('and', 'CC'),
  ('ice', 'NN'),
  ('behind', 'IN'),
  ('.', '.')],
 [('They', 'PRP'),
  ('set', 'VBN'),
  ('off', 'RP'),
  ('this', 'DT'),
  ('week', 'NN'),
  ('on', 'IN'),
  ('foot', 'NN'),
  ('and', 'CC'),
  ('by', 'IN'),
  ('camels', 'NN'),
  ('on', 'IN'),
  ('a', 'DT'),
  ('grueling', 'NN'),
  ('trek', 'NN'),
  ('across', 'IN'),
  ('the', 'DT'),
  ('burning', 'NN'),
  ('Arabian', 'NN'),
  ('desert', 'NN'),
  ('.', '.')]]

tagger- argument list of tokens - creat word token for each broken sentence and then pass that. word tokenizer directly will not work.

In [57]:
taggedtextStanford = [nltk.pos_tag(tokens) for tokens in tokentext]

In [58]:
taggedtextStanford

[[('Three', 'CD'),
  ('Calgarians', 'NNPS'),
  ('have', 'VBP'),
  ('found', 'VBN'),
  ('a', 'DT'),
  ('rather', 'RB'),
  ('unusual', 'JJ'),
  ('way', 'NN'),
  ('of', 'IN'),
  ('leaving', 'VBG'),
  ('snow', 'NN'),
  ('and', 'CC'),
  ('ice', 'NN'),
  ('behind', 'NN'),
  ('.', '.')],
 [('They', 'PRP'),
  ('set', 'VBD'),
  ('off', 'RP'),
  ('this', 'DT'),
  ('week', 'NN'),
  ('on', 'IN'),
  ('foot', 'NN'),
  ('and', 'CC'),
  ('by', 'IN'),
  ('camels', 'NNS'),
  ('on', 'IN'),
  ('a', 'DT'),
  ('grueling', 'NN'),
  ('trek', 'NN'),
  ('across', 'IN'),
  ('the', 'DT'),
  ('burning', 'NN'),
  ('Arabian', 'JJ'),
  ('desert', 'NN'),
  ('.', '.')]]